$btn-background: #a89e48
$change-btn-side: 40px

.product-quantity-bar__quantity
  margin: 0
  padding: 0
  margin-left: 10px
  width: $change-btn-side
  height: $change-btn-side
  line-height: $change-btn-side
  text-align: center
  color: #282828
  background-color: $btn-background
  border-radius: 4px

.product-quantity-bar,
.product-quantity-btn-container
  display: flex

.product-quantity-bar
  /* border: 1px solid red */

.product-quantity-btn-container
  flex-direction: column
  justify-content: space-between
  /* border: 1px solid blue */

.product-quantity-bar__quantity-button
  border: none
  border-radius: 5px
  background-color: $btn-background
  box-shadow: 3px 3px 3px 3px #1d1d1d
  color: white
  cursor: pointer

