

.selectInput {
  margin: 0px 10px 0px 0px;
  transition-duration: 0.5s;
  position: relative;
  width: max-content;

  transition: max-width 0.5s cubic-bezier(0, 1, 0, 1);
  transition-duration: .4s;
  transition-property: width;
  &_naming {
    position: absolute;
    top: -26px;
    left: 1px;
    font-weight: 700;
    font-size: 17px;
    color: #a4a4a4;

  }
  &_container {

    box-sizing: border-box;
    color: #282828;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    padding: 2px 45px;
    background-color: #9a9350;
    position: relative;
    border-radius: 5px;
    min-width: 155px;


    &_opened{
      transition-duration: 0s;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  &_elem {
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: #9a9350;
    padding: 5px 3px;

    &:hover {
      background-color: #f3c10f;
    }
    &_selected {
      //background-color: #9a9350;
      font-weight: 700;
    }
  }

  &_innerContainer {
      //display: flex;
      align-items: center;
      height: 100%;
      //padding-left: 20px;
  }

  .arrow {
    background: url('./arrow.svg');
    background-size: 20px 15px;
    width: 20px;
    height: 15px;
    position: absolute;
    right: 7px;
    top:7px;
    transition-duration: 0.4s;
    transition-property: transform;
    //-webkit-transition: all 0.5s ;
  }

  .arrow-up {
    transform: rotate(180deg);
  }
}

.menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  &_close{
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);


  }
  &_open{
    max-height: 1000px;
    transition: max-height 1s ease-in-out;

  }
  &:last-child{

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

}
