.yellow-button
  padding: 10px
  padding-left: 20px
  padding-right: 20px
  background-color: #FFE600
  font-weight: 600
  font-size: 1.1em
  //font-family: Cambria
  border: none
  border-radius: 5px
.default-input
  padding: 12px
  background-color: #595959
  color: #BCBCBC
  border: none
  border-radius: 10px
  width: 25vw
  @media only screen and (max-width: 768px)
    width: 80vw
  &:focus
    border: none