//VISIBILITY PANEL
.burger-side-panel_hidden
  width: 0px
  transition-duration: .3s
  height: 100vh
  position: absolute
  right: 0px
  visibility: hidden
.burger-side-panel_active
  width: 45%
  transition-duration: .3s
  height: 100%

//OVERLAY
.burger-side-panel__overlay_active
  width: 100vw
  height: 100vh
  position: absolute
  background-color: rgba(35, 35, 35, 0.4)
  z-index: 10
  transition-duration: .3s
.burger-side-panel__overlay_hidden
  width: 100vw
  height: 100vh
  position: absolute
  background-color: rgba(35, 35, 35, 0.4)
  z-index: 10
  transition-duration: .3s
  opacity: 0%
  visibility: hidden

.burger-side-panel
      right: 0px
      z-index: 11
      background-color: rgba(16, 16, 16, 0.86)
      position: fixed
      display: flex
      flex-direction: column
      backdrop-filter: blur(1px)
      font-size: 0.8em
      a
        text-align: left
        font-weight: 900
        text-decoration: none
        color: white
        margin: 14px
        margin-left: auto
        margin-right: auto
      .burger-side-panel__basket
        img
          width: 10px
        &:before
          //content: url("../../assets/header-backet.svg")



